
.menu__top__footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menu__top__footer ul li {
    padding: 3px 0;
}
.menu__top__footer ul li a {
    color: #4f4f4f;
}
.menu__top__footer ul li a:hover {
    text-decoration: none;
    color: #f79534;
}
.form-group .error {
    font-size: 12px;
    color: red;
}
.bottom-socials {
    display: flex;
}
.bottom-socials a:last-child {
    margin-right: 0;
}
.bottom-socials a {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 0px;
    text-decoration: none;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bottom-socials a:hover {
    color: #f79534;
    text-decoration: none;
}
.footer__new {
    min-height: auto;
    background-color: #000000;
}
.footer__new .menufooter__new h4 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 1rem;
}
.footer__new .menufooter__new p {
    color: #fff;
    font-size: 17px;
}
.footer__new .menufooter__new ul li a {
    color: #fff;
    font-size: 14px;
}
.footer__new .menufooter__new ul li a span {
    color: #fff;
}
footer .copyright {
    padding-bottom: 20px;
    font-size: 13px !important;
}

span#eyeicon,
span#eyeicon_confirm {
    float: right;
    font-size: large;
    margin-left: -25px;
    margin-top: -26px;
    position: relative;
    z-index: 2;
}
.itemarea {
    margin: 10px 8px 30px;
    display: inline-block;
    height: 162px;
    border-radius: 8px !important;
    box-shadow: 0 2px 26px 0 #00000017;
    background: #fff !important;
    width: 14.9%;
}
.itemarea a {
    padding: 0;
    display: block;
    height: 100%;
    margin: 15px 0 0;
}
.itemarea a:hover {
    text-decoration: none;
}
.itemarea a .Home_City_L1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
}
.itemarea a .Home_City_L1 img {
    overflow: hidden;
    display: block;
    height: 95px;
}
.itemarea .Home_City_L1 h4 {
    position: unset;
    color: #212529;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 0;
}
.propertie__sale {
    background-color: #f9aa5d !important;
}


.mobileNavigation {
    display: block;
    height: 45px;
    background: #fff;
    box-shadow: 0 -3px 6px 0 #0000000f;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
}
.mobileNavigation ul {
    display: flex;
    height: 100%;
    z-index: 1;
    position: relative;
    padding: 0px;
}
.mobileNavigation ul li {
    display: flex;
    height: 100%;
    width: calc(100% - 200px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
}
.mobileNavigation ul li a {
    display: flex;
    height: 100%;
    width: calc(100% - 200px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: #212529;
}
.mobileNavigation ul li a:hover {
    text-decoration: none;
}
.mobileNavigation ul li.active::after {
    content: '';
    margin: 0 0 0 -18px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 36px;
    height: 4px;
    border-radius: 3px 3px 0 0;
    background: #f79534;
}
.mobileNavigation ul li:nth-child(3) {
    width: 200px;
    bottom: 1px;
}
.mobileNavigation ul li:nth-child(3) span {
    padding: 0;
    margin: 0;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(138deg,#f79534a6 -9%,#f79534 100%);
}
.mobileNavigation ul li:nth-child(3) span em {
    padding: 0;
    margin: 0;
    width: 56px;
    height: 56px;
    background-size: 181px;
    background-position: -4px -95px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
}
.mobileNavigation ul li em {
    width: 20px;
    height: 20px;
    position: relative;
}
.mobileNavigation small {
    margin-top: 2px;
    color: #333;
    font-size: 11px;
    line-height: 10px;
}


.header__city {
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
.header__city i {
    margin-left: 10px;
}

/* city modal css */
.Modalcity-dialog {
    max-width: 100%;
  }
  .modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
  }
  .modal.fade .Modalcity-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0)scale(1);
    transform: translate(100%, 0)scale(1);
  }
  .modal.fade.show .Modalcity-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
    margin: 0px;
  }
  .modal.fade.show .Modalcity-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .modal-dialog-slideout .modal-content {
    border: 0;
  }
  .modal-dialog-slideout .modal-header,
  .modal-dialog-slideout .modal-footer {
    height: auto;
    display: block;
    padding: 10px 20px;
    box-shadow: 0 3px 6px 0 #00000012;
    border: none;
  }
  .modal-dialog-slideout .modal-header h5 {
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: end;
}
.modal-dialog-slideout .modal-header h5 button {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin-left: 20px;
}


.gblCityBox .gblCityBody {
    display: block;
    max-height: calc(100% - 48px);
    overflow: hidden;
    overflow-y: auto;
}
.gblCityBox .gblCityBody .gblSearchBox {
    padding: 15px 15px 5px;
    display: block;
    width: 100%;
    position: relative;
}
.gblCityBox .gblCityBody .gblSearchBox .gblSearch {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}
.gblCityBox .gblCityBody .gblSearchBox .gblSearch label {
    font-size: 13px;
    font-weight: 600;
    position: relative;
    color: #333;
    font-weight: 500;
    display: none;
}
.gblCityBox .gblCityBody .gblSearchBox .gblSearch .formGroup {
    display: block;
    width: 100%;
    position: relative;
}
.gblCityBox .gblCityBody .gblSearchBox .gblSearch .formGroup .fa-search {
    font-size: 17px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.gblCityBox .gblCityBody .gblSearchBox .gblSearch .formGroup .form-control {
    padding-left: 35px;
    height: 36px;
    background: #efefef;
    border: #707070 solid 0;
    border-radius: 5px;
}
.gblCityBox .gblCityBody .topCitiesBoxx {
    padding: 5px 15px 0;
    display: block;
    overflow: hidden;
}
.gblCityBox .gblCityBody .topCitiesBoxx h4 {
    padding: 5px 0 0;
    font-size: 13px;
    font-weight: 600;
    color: #333;
}
.gblCityBox .gblCityBody .topCitiesBoxx ul {
    margin: 0px;padding: 0px;
    display: block;
}
.gblCityBox .gblCityBody .topCitiesBoxx ul li {
    margin: 2px;
    cursor: pointer;
    text-align: center;
    display: block;
    float: left;
    width: calc(33% - 4px);
    border: solid 1px #e3e3e3;
    border-radius: 8px;
    height: 60px;
}
.gblCityBox .gblCityBody .topCitiesBoxx ul li a {
    padding: 5px 2px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.gblCityBox .gblCityBody .topCitiesBoxx ul li a:hover {
    text-decoration: none;
}

.gblCityBox .gblCityBody .topCitiesBoxx ul li em {
    width: 35px;
    height: 27px;
    display: block;
    flex: none;
}
.gblCityBox .gblCityBody .allCitiesBoxx {
    padding: 5px 15px 10px;
    display: block;
    overflow: hidden;
}
.gblCityBox .gblCityBody .topCitiesBoxx ul li a h5 {
    margin-top: 3px;
    color: #333;
    transition: .5s;
    font-weight: 400;
    line-height: normal;
    font-size: 12px;
}
.gblCityBox .gblCityBody .allCitiesBoxx h4 {
    padding: 8px 0;
    font-size: 13px;
    font-weight: 600;
    color: #333;
}
.gblCityBox .gblCityBody .allCitiesBoxx ul {
    margin: 0;
    display: block;
    padding: 0px;
}
.gblCityBox .gblCityBody .allCitiesBoxx ul li {
    cursor: pointer;
    display: block;
    border-top: #f1f1f1 solid 1px;
}
.gblCityBox .gblCityBody .allCitiesBoxx ul li a {
    display: block;
    color: #333;
    line-height: 42px;
    transition: .5s;
    position: relative;
}
.gblCityBox .gblCityBody .allCitiesBoxx ul li a:hover {
    text-decoration: none;
}

/* modal contact css */
.mobileOurServices {
    padding: 20px;
    width: 100%;
}
.mobileOurServices ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.mobileOurServices ul li {
    border-bottom: 1px solid #ededed;
    display: flex;
    height: 62px;
    align-items: center;
    cursor: pointer;
}
.mobileOurServices ul li a {
    border-bottom: 1px solid #ededed;
    display: flex;
    height: 62px;
    align-items: center;
    cursor: pointer;
}
.mobileOurServices ul li a:hover {
    text-decoration: none;
}
.mobileOurServices ul li .fIcon1 {
    margin-right: 15px;
    width: 44px;
    height: 44px;
    border-radius: 50px;
}
.mobileOurServices ul li strong {
    width: calc(100% - 55px);
    font-size: 14px;
    color: #333;
    line-height: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
}
.mobileOurServices ul li strong span {
    font-weight: 400;
    font-size: 12px;
    color: #666;
    display: block;
}

.hide-fix-footer{
    display: none !important;
}


.action_footer {
    bottom: 40px !important;
    right: 15px !important;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
}
.action_footer .cd-top {
    position: unset !important;
    width: 34px;
}
.action_footer .cd__button {
    color: #fff;
    font-size: 13px;
}

/* PACKAGES CSS */

.pricing__heading h2 {
    color: #212529;
    font-size: 2rem;
    font-weight: 700;
}
.pricing__heading p {
    margin: 0 0 0;
}
.packages__cardWrap {
    background-color: #f9f9f9;
    box-shadow: rgb(204 204 204) 0 1px 1px;
    padding: 0px 0px 30px;
    text-align: center;
    position: relative;
    transition: all .3s ease-in-out;
    will-change: transform;
}
.packages__cardWrap:hover {
    box-shadow: 0 20px 35px 0 rgb(0 0 0 / 8%);
    transform: scale(1.05);
}
.packages__cardWrap:after {
    background-color: #f79534;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    transition: .5s;
    width: 0;
}
.packages__cardWrap:hover:after {
    width: 100%;
}
.packages__cardWrap h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #f79534;
    margin: 0 0 0px;
    line-height: 20px;
    font-weight: 600;
}
.packages__cardWrap h2 span {
    display: block;
    background-color: #f79534;
    color: #fff;
    padding: 10px 0px;
}
.packages__cardWrap h2 small {
    font-size: 10px;
    color: #444444;
    font-weight: 600;
    display: block;
    padding: 15px 0;
}
.packages__cardWrap .ul__listing {
    display: flex;
    justify-content: center;
}
.packages__cardWrap .ul__listing ul {
    margin: 0 0 20px;
    padding: 0px;
    text-align: left;
}
.packages__cardWrap .ul__listing ul li {
    list-style: none;
    font-size: 15px;
    padding: 10px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.packages__cardWrap h3 {
    margin: 0px 20px 18px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 15px 0;
}
.packages__cardWrap h3 small {
    font-size: 12px;
    font-weight: 600;
}
.packages__cardWrap .buy__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.packages__cardWrap .buy__btn .btn {
    background-color: #f79534;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 35px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 35px;
}
.packages__cardWrap .buy__btn .btn:hover {
    background-color: #063a5d;
    text-decoration: none;
}
.packages__cardWrap .buy__btn .btn:active {
    color: #fff;
    background-color: #063a5d;
}
/* PACKAGES CSS END */


@media screen and (max-width:580px) {
    .list-agency .agents-grid .fr-grid-thumb {
        height: 150px !important;
    }
    .list-agency .agents-grid .fr-grid-thumb a {
        height: 150px !important;
    }
    .list-agency .agents-grid .fr-grid-detail {
        padding-bottom: 0 !important;
    }
    .list-agency .agents-grid .fr-grid-detail-flex .fr-can-name {
        font-size: 15px;
    }
    .list-agency .agents-grid .agent-email a {
        width: 30px !important;
        height: 30px !important;
    }
    .list-agency .agents-grid .fr-grid-info ul li {
        font-size: 12px;
    }
    .list-agency .agents-grid .fr-grid-info {
        margin-bottom: 0.5rem !important;
    }
    .list-agency .agents-grid .fr-grid-footer {
        padding: 0.5rem 1.5rem !important;
    }


    .list-agency .agents-grid .fr-position {
        font-size: 12px !important;
    }
    .list-agency .agents-grid .fr-grid-footer-flex-right .prt-view {
        font-size: 12px;
        padding: 0 12px !important;
        height: 22px !important;
    }
}
